body, .card {
    background-color: black;
}

.card{
    border: 1px solid white;
}

.content-sports, iframe {
    height: 550px;
}

.view-icons{
    width: 90px;
    height: 70px;
}


iframe {
    width: 100%;
}